header {
  color:rgba(73, 9, 223, 0.445);
  .navigation {
    font-size: 12px;
  }
  .logo {
    width: 300px;
  }
}

p {
    color: #111;
    .bordered();
  }
  
  .post {
    color: red;
    .bordered();
  }